@tailwind base;

@tailwind components;

@tailwind utilities;

.test {
    color: red;
    div {
        //color: theme('colors.mana');
        @apply text-mana;
    }
}

* {
    box-sizing: border-box;
}

.app-container {
    width: 100%;
    height: 100%;
}

.button-bottom {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    @apply text-mana;
  
    cursor: pointer;

    button:hover {
        text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
        0 0 100px #03e9f4;
    }
}

.button-bottom-right {
    position: absolute;
    bottom: 0%;
    right: 0%;
    transform: translate(-50%, -50%);
    @apply text-mana;
  
    cursor: pointer;

    text-transform: uppercase;

    font-weight: bold;
  
    &:after {
      content: " >";
    }

    *:hover, &:hover {
        text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
        0 0 100px #03e9f4;
    }

}

.button-bottom-left {
    position: absolute;
    bottom: 0%;
    left: 0%;
    transform: translate(50%, -50%);
    @apply text-mana;

    cursor: pointer;

    text-transform: uppercase;
    font-weight: bold;

    &:before {
        content: "< ";
      }

    *:hover, &:hover {
        text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
        0 0 100px #03e9f4;
    }
}


.transparant-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;

    h2 {
        margin: 0 0 30px;
        padding: 0;
        color: #fff;
        text-align: center;
    }
}

