@tailwind base;

@tailwind components;

@tailwind utilities;

.test {
    color: red;
    div {
        //color: theme('colors.mana');
        @apply text-mana;
    }
}

#background {
    background-image: url(~Images/background1.jpg);
    background-repeat: no-repeat;
    background-position: center;

    border: red solid 1px;

    transition: background-position .5s;

    width: 375px;
    height: 667px;
    margin: auto;
}